In [1]:
float("56")

56.0

In [2]:
float("mike")

ValueError: could not convert string to float: 'mike'

In [4]:
x = 10
y = 2
x/y

5.0