In [2]:
state = "new york"

In [3]:
print(state)

new york

In [4]:
state[0:3]

'new'

In [5]:
state[3:8]

' york'

In [6]:
state[:3]

'new'

In [7]:
state[3:]

' york'

In [8]:
name = "Michael Fudge"
first_name = name[:7]
last_name = name[7:]
print(first_name)
print(last_name)

Michael
 Fudge

In [9]:
name[:7] = "Tommy"

TypeError: 'str' object does not support item assignment

In [10]:
state = 'new jersey'
dir(state)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
state.upper()

'NEW JERSEY'

In [14]:
state.title()

'New Jersey'

In [15]:
state = state.title()
print(state)

New Jersey

In [16]:
state = input("Enter a state: ").title()
print(state)

Enter a state: new york
New York

In [19]:
course = input("Enter the course ID: ")
course = course.upper()
prefix = course[0:3]
print("That is a " + prefix + " course")

Enter the course ID: PSY121
That is a PSY course

In [28]:
happy = input("Are ya happy? ").lower()
if happy == 'yes' or happy=='y':
    print("Yay!")
elif happy=='no' or happy=='n':
    print("Sorry to hear that.")
else:
    print("That's not yes or no!")

Are ya happy? wafshluwaiedshfiouasdh
That's not yes or no!

In [44]:
grades = input("Enter all of your quiz grades:")
total = 0
count = 0
for value in grades.split():
    total = total + int(value)
    count = count + 1
    print("Current Total", total, "Current Count", count)
    
print("Your quiz average is : ",total/count)

Enter all of your quiz grades:100 100 100
Current Total 100 Current Count 1
Current Total 200 Current Count 2
Current Total 300 Current Count 3
Your quiz average is :  100.0

In [46]:
sentence = input("Enter a sentence: ")
for word in sentence.split():
    print("VALUE", word)

print("Last Value",word)

Enter a sentence: mike is typing slowly
VALUE mike
VALUE is
VALUE typing
VALUE slowly
Last Value slowly

In [48]:
sentence = input("Enter a Tweet: ")
for foo in sentence.split():
    print("VALUE", foo)

Enter a Tweet: Prof Fudge is an evil person. I do not like him.
VALUE Prof
VALUE Fudge
VALUE is
VALUE an
VALUE evil
VALUE person.
VALUE I
VALUE do
VALUE not
VALUE like
VALUE him.

In [54]:
text = "America is masterful"
for word in text.split():
    print(word[0], end = "\t")

A	i	m