# End-To-End Example: Data Analysis of iSchool Classes

In this end-to-end example we will perform a data analysis in Python Pandas we will attempt to answer the following questions:

- What percentage of the schedule are undergrad (course number 500 or lower)?
- What undergrad classes are on Friday? or at 8AM?

Things we will demonstrate:

- `read_html()` for basic web scraping
- dealing with 5 pages of data
- `append()` multiple `DataFrames` together
- Feature engineering (adding a column to the `DataFrame`)

The iSchool schedule of classes can be found here: https://ischool.syr.edu/classes

In [1]:
import pandas as pd

# this turns off warning messages
import warnings
warnings.filterwarnings('ignore')

In [2]:
# just figure out how to get the data
website = 'https://ischool.syr.edu/classes/?page=1'
data = pd.read_html(website)
data[0]

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s)
0,IDS403,M800,72105,3.0,Startup Sandbox,John DuRoss Liddy,12:00am - 12:00am,NaN,Online
1,IST256,M800,72106,3.0,Appl.Prog.For Information Syst,Laurie A Ferger,12:00am - 9:30pm,Th,Online Online
2,IST359,M800,72107,3.0,Intro to Data Base Mgmt Systs,Blythe Scherrer,12:00am - 8:30pm,Th,Online Online
3,IST387,M002,72103,3.0,Intro to Applied Data Science,Jeffrey M. Stanton,12:00am - 7:30pm,Tu,Online Online
4,IST471,M001,70842,3.0,Internship in Info Mgmt & Tech,Susan Monica Bonzi,12:00am - 12:00am,NaN,Online
5,IST472,M802,72104,3.0,Coop Educ in Info Mgmt & Tech,Susan Monica Bonzi,12:00am - 12:00am,NaN,Online
6,IST600,M001,72295,3.0,Adv Topcs in User Exper UX Des,Ping Zhang,9:00am - 5:00pm,MTuWThF,Hinds Hall 111
7,IST600,M800,72356,3.0,Info Mgmt- Crtcl Infra Protect,Leslie A Corbo,12:00am - 12:00am,NaN,Online
8,IST600,M002,72378,3.0,Rare Book/Spcial Collect. Libr,NaN,9:00am - 5:00pm,MTuWThF,BIRD LIBRARY LEMKE ROOM 606B
9,IST602,M001,70815,3.0,Digital Forensics,Mark M. Pollitt,9:00am - 5:00pm,MTuWThFSa,Hinds Hall 027
10,IST625,M001,70816,3.0,Enterprise Risk Management,James Enwright,9:00am - 5:00pm,MTuWThF,Hinds Hall 018
11,IST639,M001,70843,3.0,Enterprise Technologies,P Douglas Taber,10:00am - 6:00pm,MTuWThF,Hinds Hall 010 Hinds Hall 011
12,IST687,M001,70814,3.0,Introduction to Data Science,Jeffrey Saltz,9:00am - 5:00pm,MTuWThF,Hinds Hall 018
13,IST690,M001,72447,1.0,Independent Study,NaN,12:00am - 12:00am,NaN,NaN
14,IST700,M001,72113,3.0,IT Career and Skills Update,Scott A Bernard,9:00am - 5:00pm,MTuWThF,Hinds Hall 117
15,IST704,M001,72110,3.0,Applied Info Security,Mark M. Pollitt,9:00am - 5:00pm,MTuWThF,Hinds Hall 027
16,IST707,M001,72111,3.0,Data Analytics,Frank Jr Marullo,9:00am - 5:00pm,MTuWThF,Hinds Hall 010
17,IST718,M001,70811,3.0,Big Data Analytics,Daniel E. Acuna,9:00am - 5:00pm,MTuWThF,Hinds Hall 021
18,IST719,M001,70844,3.0,Information Visualization,Frank Jr Marullo,9:00am - 5:00pm,MTuWThF,Hinds Hall 010
19,IST725,M800,70817,3.0,IT Security Architecture,Scott A Bernard,12:00am - 12:00am,NaN,Online
20,IST736,M001,72112,3.0,Text Mining,Bei Yu,9:00am - 5:00pm,MTuWThF,Hinds Hall 013
21,IST755,M001,70809,3.0,Strategic Mgmt/Info Resources,Arthur P. Thomas,9:00am - 5:00pm,TuWThFSa,Hinds Hall 021
22,IST971,M800,72352,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,Online
23,IST971,M801,72353,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,Online
24,IST971,M802,72354,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,Online
25,IST971,M803,72355,1.0,Internship in Info Studies,Scott A Bernard,12:00am - 12:00am,NaN,Online
26,IST972,M800,70806,3.0,School Media Practicum,Patricia C Vilello,1:00am - 1:00am,NaN,NaN
27,IST973,M800,72393,1.0,Internship in Info Studies,Rebecca Shaffer Mannion,12:00am - 12:00am,NaN,Online
28,IST999,M800,70807,1.0,Dissertation,NaN,12:00am - 12:00am,NaN,NaN

In [24]:
# let's generate links to the other pages
website = 'https://ischool.syr.edu/classes/?page='
for i in range(1,6):
    link = website + str(i)
    print(link)

https://ischool.syr.edu/classes/?page=1
https://ischool.syr.edu/classes/?page=2
https://ischool.syr.edu/classes/?page=3
https://ischool.syr.edu/classes/?page=4
https://ischool.syr.edu/classes/?page=5

In [25]:
# let's read them all and append them to a single data frame

website = 'https://ischool.syr.edu/classes/?page='
classes = pd.DataFrame() #  (columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room'])

for i in range(1,6):
    link = website + str(i)
    data = pd.read_html(website  + str(i))    
    classes = classes.append(data[0], ignore_index=True)
    
classes.sample(5)

,0,1,2,3,4,5,6,7,8
162,IST659,M400,41928,3.0,Data Admin Concepts & Db Mgmt,Chad Aaron Harper,12:00am - 8:30pm,M,Online Online

In [26]:
## let's set the columns

website = 'https://ischool.syr.edu/classes/?page='
classes = pd.DataFrame() 

for i in range(1,6):
    link = website + str(i)
    data = pd.read_html(website  + str(i))    
    classes = classes.append(data[0], ignore_index=True)
    
classes.columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room']

classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room
205,IST840,M801,41093,1.0,Practicum in Teaching,Jennifer Stromer-Galley,12:00am - 12:00am,NaN,Online

In [31]:
## this is good stuff. Let's make a function out of it for simplicity

def get_ischool_classes():
    website = 'https://ischool.syr.edu/classes/?page='
    classes = pd.DataFrame() 

    for i in range(1,6):
        link = website + str(i)
        data = pd.read_html(website  + str(i))    
        classes = classes.append(data[0], ignore_index=True)
    
    classes.columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room']

    return classes

# main program 
classes = get_ischool_classes()

In [32]:
# undergrad classes are 0-499, grad classes are 500 and up but we don't have course numbers!!!! So we must engineer them.

classes['Course'].str[0:3].sample(5)
classes['Course'].str[3:].sample(5)

42     335
151    646
202    810
41     335
177    690
Name: Course, dtype: object

In [33]:
# make the subject and number columns
classes['Subject'] = classes['Course'].str[0:3]
classes['Number'] = classes['Course'].str[3:]
classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number
33,IST263,M003,37015,3.0,Web Design and Mgmt,Joseph E Flateau,8:00am - 9:20am,MW,Hinds Hall 021,IST,263
164,IST661,M800,36997,3.0,Managing a School Library,Susan Kowalski,12:00am - 12:00am,NaN,Online,IST,661
171,IST687,M006,37118,3.0,LAB: Applied Data Science,Erik Scott Anderson,3:30pm - 4:50pm,Th,Hinds Hall 021,IST,687
64,IST400,M002,37088,3.0,Enterprise IT Consultation,Michelle L. Kaarst-Brown,2:00pm - 4:45pm,Th,Hinds Hall 111,IST,400
11,IDS402,M001,37004,3.0,Idea2Startup,Michael A D'Eredita,9:30am - 12:15pm,F,Hinds Hall 011,IDS,402

In [36]:
# and finally we can create the column we need!
classes['Type'] = ''
classes['Type'][classes['Number'] < '500'] = 'UGrad'
classes['Type'][classes['Number'] >= '500'] = 'Grad'

classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,UG,Type
113,IST600,M800,37113,1.0,IT Auditing,Thomas J Wood,12:00am - 12:00am,NaN,Online,IST,600,N,Grad
1,GET302,M001,37049,3.0,Global Financial Sys Arch,Frank Jr Marullo,5:15pm - 8:00pm,M,Hinds Hall 021,GET,302,Y,UGrad
182,IST718,M801,37082,3.0,Advanced Information Analytics,Gary E Krudys,12:00am - 12:00am,NaN,Online,IST,718,N,Grad
193,IST754,M001,37065,3.0,Telecom Final Project,Lee H Badman,9:30am - 12:15pm,W,Hinds Hall 117,IST,754,N,Grad
69,IST425,M001,36950,3.0,Enterprise Risk Management,Michael Larche,5:15pm - 6:35pm,MW,Slocum 104,IST,425,Y,UGrad

In [44]:
# the entire program to retrieve the data and setup the columns looks like this:

# main program 
classes = get_ischool_classes()
classes['Subject'] = classes['Course'].str[0:3]
classes['Number'] = classes['Course'].str[3:]
classes['Type'] = ''
classes['Type'][classes['Number'] < '500'] = 'UGrad'
classes['Type'][classes['Number'] >= '500'] = 'Grad'

In [45]:
# let's fins the number of grad / undergrad courses
classes['Type'].value_counts()

# more grad classes than undergrad

Grad     116
UGrad     95
Name: Type, dtype: int64

In [46]:
# how many undergrad classes on a Friday?
friday = classes[ (classes['Type'] == 'UGrad') & (classes['Days'].str.find('F')>=0 ) ]
friday

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
3,GET400,M002,37081,3.0,Global Consulting Challenges,Jason Dedrick,10:35am - 1:10pm,F,Hinds Hall 018,GET,400,UGrad
11,IDS402,M001,37004,3.0,Idea2Startup,Michael A D'Eredita,9:30am - 12:15pm,F,Hinds Hall 011,IDS,402,UGrad
12,IDS403,M001,37002,1.0,Startup Sandbox,John DuRoss Liddy,10:00am - 12:50pm,F,Syracuse Technology Garden,IDS,403,UGrad
13,IDS403,M002,41254,1.0,Startup Sandbox,John DuRoss Liddy,1:00pm - 3:50pm,F,Syracuse Technology Garden,IDS,403,UGrad
16,IST195,M003,37021,3.0,LAB: Information Technologies,Jeff Rubin,9:30am - 10:25am,F,Hinds Hall 010,IST,195,UGrad
17,IST195,M004,37022,3.0,LAB: Information Technologies,Jeff Rubin,10:35am - 11:30am,F,Hinds Hall 010,IST,195,UGrad
18,IST195,M005,37023,3.0,LAB: Information Technologies,Jeff Rubin,11:40am - 12:35pm,F,Hinds Hall 010,IST,195,UGrad
19,IST195,M006,37024,3.0,LAB: Information Technologies,Jeff Rubin,12:45pm - 1:40pm,F,Hinds Hall 010,IST,195,UGrad
20,IST195,M007,37025,3.0,LAB: Information Technologies,Jeff Rubin,1:50pm - 2:45pm,F,Hinds Hall 010,IST,195,UGrad
21,IST195,M008,37031,3.0,LAB: Information Technologies,Jeff Rubin,2:55pm - 3:50pm,F,Hinds Hall 010,IST,195,UGrad
22,IST195,M002,37107,3.0,LAB: Information Technologies,Jeff Rubin,8:25am - 9:20am,F,Hinds Hall 010,IST,195,UGrad
25,IST233,M003,37027,3.0,LAB: Intro to Computer Networking,David J Molta,10:35am - 11:30am,F,Hinds Hall 027,IST,233,UGrad
26,IST233,M004,37028,3.0,LAB: Intro to Computer Networking,David J Molta,11:40am - 12:35pm,F,Hinds Hall 027,IST,233,UGrad
27,IST233,M005,37029,3.0,LAB: Intro to Computer Networking,David J Molta,12:45pm - 1:40pm,F,Hinds Hall 027,IST,233,UGrad
28,IST233,M006,37030,3.0,LAB: Intro to Computer Networking,David J Molta,1:50pm - 2:45pm,F,Hinds Hall 027,IST,233,UGrad
29,IST233,M007,40344,3.0,LAB: Intro to Computer Networking,David J Molta,2:55pm - 3:50pm,F,Hinds Hall 027,IST,233,UGrad
31,IST256,M001,40238,3.0,Appl.Prog.For Information Syst,Michael Fudge Avinash Kadaji Deborah L Nosky...,8:00am - 9:20am,WF,School of Management 007,IST,256,UGrad
41,IST335,M002,36937,3.0,Intro/Info Based Organizations,Michael A D'Eredita,12:45pm - 2:05pm,WF,Hinds Hall 011,IST,335,UGrad

In [47]:
# let's get rid of those pesky LAB sections!!!
# how many undergrad classes on a Friday?
friday_no_lab = friday[ ~friday['Title'].str.startswith('LAB:')]
friday_no_lab

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
3,GET400,M002,37081,3.0,Global Consulting Challenges,Jason Dedrick,10:35am - 1:10pm,F,Hinds Hall 018,GET,400,UGrad
11,IDS402,M001,37004,3.0,Idea2Startup,Michael A D'Eredita,9:30am - 12:15pm,F,Hinds Hall 011,IDS,402,UGrad
12,IDS403,M001,37002,1.0,Startup Sandbox,John DuRoss Liddy,10:00am - 12:50pm,F,Syracuse Technology Garden,IDS,403,UGrad
13,IDS403,M002,41254,1.0,Startup Sandbox,John DuRoss Liddy,1:00pm - 3:50pm,F,Syracuse Technology Garden,IDS,403,UGrad
31,IST256,M001,40238,3.0,Appl.Prog.For Information Syst,Michael Fudge Avinash Kadaji Deborah L Nosky...,8:00am - 9:20am,WF,School of Management 007,IST,256,UGrad
41,IST335,M002,36937,3.0,Intro/Info Based Organizations,Michael A D'Eredita,12:45pm - 2:05pm,WF,Hinds Hall 011,IST,335,UGrad

In [48]:
# Looking for more classes to avoid? How about 8AM classes?
eight_am = classes[ classes['Time'].str.startswith('8:00am')]
eight_am

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
4,GET433,M001,37075,3.0,Multi-tier App. Development,P Douglas Taber,8:00am - 9:20am,TuTh,Hinds Hall 013,GET,433,UGrad
31,IST256,M001,40238,3.0,Appl.Prog.For Information Syst,Michael Fudge Avinash Kadaji Deborah L Nosky...,8:00am - 9:20am,WF,School of Management 007,IST,256,UGrad
33,IST263,M003,37015,3.0,Web Design and Mgmt,Joseph E Flateau,8:00am - 9:20am,MW,Hinds Hall 021,IST,263,UGrad
34,IST263,M002,37017,3.0,Web Design and Mgmt,Christian A Kirkegaard,8:00am - 9:20am,TuTh,Hinds Hall 018,IST,263,UGrad
54,IST352,M005,37068,3.0,Info Analysis of Org. Systems,Alexander Corsello,8:00am - 9:20am,MW,Hinds Hall 111,IST,352,UGrad
55,IST352,M006,37069,3.0,Info Analysis of Org. Systems,Alexander Corsello,8:00am - 9:20am,TuTh,Hinds Hall 117,IST,352,UGrad
58,IST359,M003,36986,3.0,Intro to Data Base Mgmt Systs,Deborah L Nosky,8:00am - 9:20am,TuTh,Hinds Hall 010 Hinds Hall 111,IST,359,UGrad