In [14]:
import pandas as pd

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_Africa')
countries = tables[1]

countries.sample(1)

,0,1,2,3,4,5,6
50,NaN,NaN,TogoTogolese Republic,French: Togo—République Togolaise,LoméFrench: Lomé,7990926,"56,785 km2 (21,925 sq mi)"

In [18]:
# this is how you read a table in HTML when it does like the user agent
import requests

response = requests.get('https://www.cicerolittleleague.com/Default.aspx?tabid=923825')
if response.ok:
    content = response.text
    

tables = pd.read_html(content)
games = tables[1]
games.columns = [ 'game date', 'home team', 'visiting team', 'time', '', '']
games.sample()

In [21]:
# read data from espn

tables = pd.read_html('http://www.espn.com/mlb/game?gameId=401074965')
stats = tables[0]
# clean up the table --
stats = stats[ ~stats['Hitters'].str.startswith("Today's at BatsFull Player ProfileNo")]

stats

           Hitters   H-AB    AB     H   RBI   HR   SB     K    AVG
0     K. CalhounRF   8-53  53.0   8.0   5.0  2.0  0.0  16.0  0.151
2       M. TroutDH  13-32  32.0  13.0  12.0  5.0  1.0   4.0  0.406
4     A. SimmonsSS  11-56  56.0  11.0   6.0  1.0  2.0   7.0  0.196
6      A. Pujols1B  11-46  46.0  11.0   6.0  2.0  0.0   6.0  0.239
8     B. GoodwinCF  12-36  36.0  12.0   4.0  1.0  0.0   9.0  0.333
10       K. SmithC   1-11  11.0   1.0   1.0  0.0  0.0   3.0  0.091
12  T. La Stella2B   7-38  38.0   7.0   7.0  3.0  0.0   3.0  0.184
14     Z. Cozart3B   4-37  37.0   4.0   2.0  0.0  0.0   6.0  0.108
16   D. FletcherLF  12-40  40.0  12.0   3.0  0.0  2.0   1.0  0.300